<div class="left-panel">
  <div class="card-container">
      <sc-card
        *ngFor="let card of cards;let i = index;"
        [callDestroy]="card.destroyEvent"
        [orientation]="orientation"
        (onRelease)="onRelease($event)"
        (onSwipe)="onSwipe($event)"
        (onAbort)="onAbort($event)"
        [tinder-card]="overlay"
        [callLike]="card.likeEvent"
        (onLike)="onCardLike($event)">
        <div class="card-header">
          <span>{{card.id}}</span>
        </div>
        <div class="card-content">
          <img [src]="card.url" draggable="false"/>
        </div>
      </sc-card>
  </div>
  <div class="buttons">
    <button (click)="like(false)">Dislike</button>
    <button (click)="like(true)">Like</button>
  </div>
</div>
<div class="right-panel">
  <h2>Parameters</h2>
  <h3>Card</h3>
  <h4>orientation</h4>
  <p>
    <label>value</label>
    <select name="orientation" [(ngModel)]="orientation">
      <option>x</option>
      <option>y</option>
      <option>xy</option>
    </select>
  </p>
  <h4>Event logs</h4>
  <div class="log-container" #cardLog>
    <span *ngFor="let log of cardLogs">{{log}}</span>
  </div>
  <h3>Tinder Card</h3>
  <h4>overlay</h4>
  <h5>like</h5>
  <p>
    <label>backgroundColor</label>
    <input type="color" [(ngModel)]="overlay.like.backgroundColor" />
  </p>
  <h5>dislike</h5>
  <p>
    <label>backgroundColor</label>
    <input type="color" [(ngModel)]="overlay.dislike.backgroundColor" />
  </p>
  <h4>Event logs</h4>
  <div class="log-container" #tinderCardLog>
    <span *ngFor="let log of tinderCardLogs">{{log}}</span>
  </div>
</div>
