[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}


/* Demo */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 2.5em;
    line-height: 2.5;
    margin: 0.25em;
    padding: 0 1em;
    width: 14em;
}

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:80%;
  width:80%;
  margin:10px auto;
}

sc-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 500px;
  max-width: 500px;
}

.card-header span {
  position:absolute;
  top:5px;
  left:5px;
  width:30px;
  height:30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  background-color: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.card-content img {
  max-width:90%;
  max-height:90%;
}

.buttons {
  width:100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;;
}

.buttons button {
  background-color: #E1E1E1;
  max-width:160px;
  width:50%;
}
